body {
    font-family: 'Rajdhani', sans-serif;
    background-color: rgba(233, 150, 122, 0.745);
}

#app {
    max-width: 1200px;
    margin: 2rem auto;
}

h1, ol {
    text-align: center;
    list-style-position: inside;
}

ol {
    font-size: 25px;
}

li {
    padding: 0.5rem;
}